<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %> - F1 Global Newswire</title>
  <link rel="stylesheet" href="/style.css" />
  <link rel="icon" type="image/png" href="/favicon.png">
</head>
<body>
  <header>
    <h1>F1 Global Newswire</h1>
    <nav><a href="/">← Back to Home</a></nav>
  </header>

  <main>
    <article>
      <h2><%= title %></h2>
      <p class="meta">By <%= author %> — <%= new Date(date).toLocaleDateString() %></p>
      <div><%- htmlContent %></div>
    </article>
  </main>
</body>
</html>
